<%- layout("/layouts/boilerplate.ejs") %>

<script>
  const token = "<%=process.env.MAP_TOKEN %>";
  const listingCoordinates = <%- JSON.stringify(showListing.geometry.coordinates )%>
  console.log(listingCoordinates) ;
</script>
<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3><%= showListing.title%></h3>
  </div>
  <div
    class="card col-5 offset-3 show-card"
    style="transform: none; cursor: default"
  >
    <img
      src="<%= showListing.image.url %>"
      class="card-img-top show-img mt-3"
      alt="..."
    />

    <div class="card-body">
      <div class="card-text">
        <br />
        <p><i>Host: <%= showListing.owner.username%></i></p>
        <p><%= showListing.description%></p>
        <p>&#8377;<%= showListing.price.toLocaleString("en-IN")%></p>
        <p><%= showListing.location%></p>
        <p><%= showListing.country%></p>
      </div>
      <% if(currUser && currUser._id.equals(showListing.owner._id)) {%>
      <div class="row mt-3 mb-3 ms-auto">
        <div class="col-6" >
          <a
            href="/listings/<%= showListing._id %>/edit"
            class="btn btn-dark edit-btn me-2"
            >Edit</a
          >

          <form
            action="/listings/<%= showListing._id %>?_method=DELETE"
            method="POST"
            class="d-inline"
          >
            <button class="btn btn-dark dlt-btn">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<hr />

<% if (currUser && !currUser._id.equals(showListing.owner._id)) { %>
<div class="col-8 offset-3">
  <h4>Leave a Review!</h4>
  <form
    method="POST"
    action="/listings/<%= showListing._id %>/reviews"
    novalidate
    class="needs-validation"
  >
    <div class="mb-3 mt-3">
      <label for="Review[rating]" class="form-label">Rating</label>
      <fieldset class="starability-checkmark">
        <input
          type="radio"
          id="no-rate"
          class="input-no-rate"
          name="Review[rating]"
          value="1"
          checked
          aria-label="No rating."
        />
        <input type="radio" id="first-rate1" name="Review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="Review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="Review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="Review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="Review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
    </div>

    <div class="mb-3 mt-3">
      <label for="comment" class="form-label">Comment</label>
      <textarea
        name="Review[comment]"
        id="comment"
        class="form-control"
        required
      ></textarea>
      <div class="invalid-feedback">Please add some comment to the review</div>
    </div>
    <br />
    <button class="btn btn-outline-dark">Post</button>
  </form>
</div>
<hr />
<% } %>

<div class="row col-8 reviews-section offset-3">
  <h4>Reviews:</h4>
  <% showListing.reviews.forEach(function(review) { %>
  <div class="card mb-2 ms-2 col-5">
    <div class="card-body">
      <strong
        ><div class="card-title"><%= review.author.username %></div></strong
      >
      <p class="starability-result" data-rating="<%= review.rating %>"></p>
      <p class="card-text"><%= review.comment %></p>
      <form
        class="mb-3"
        action="/listings/<%=showListing._id%>/reviews/<%=review._id%>?_method=DELETE"
        method="post"
      >
        <button class="btn btn-dark">Delete</button>
      </form>
    </div>
  </div>
  <% }); %> <%if(showListing && showListing.reviews.length === 0 ){%>
  <br />
  <br />
  <div class="card mb-2 ms-2 col-5">
    <div class="card-body">
      <br />
      <strong><div class="card-title">No Reviews yet!</div></strong>
    </div>
  </div>
  <% }; %>
</div>

<br />
<hr />

<div class="map-container row col-8 offset-3">
  <h3>Where you'll be</h3>
  <div id="map" class="mb-3 mt-3 rounded"></div>
</div>

<script src="/js/map.js"></script>
